$bg-primary: #FFFFFF;
$bg-disabled: #EEF2F6;
$bg-brand-dp: #52454F;
$button-icon-bg: #FFFFFF;
$button-icon-bg_hover: #EEF2F6;
$button-icon-fill: #52454F;
$button-icon-border: #E3E2DE;
$button-icon-border_focus: #52454F;
$button-primary-bg: #52454F;
$button-primary-bg_hover: #43323F;
$button-primary-fg: #FFFFFF;
$button-primary-fg_hover: #FFFFFF;
$button-secondary-bg: #FFFFFF;
$button-secondary-bg_hover: #EEF2F6;
$button-secondary-fg: #52454F;
$button-secondary-fg_hover: #FFFFFF;
$button-secondary-border: #52454F;
$button-secondary-border_hover: #43323F;
$border-primary: #CDD5DF;
$border-secondary: #E3E8EF;
$border-tertiary: #EEF2F6;
$border-error: #F04438;
$shadow-xs: #52454F0D;
$shadow-sm_01: #52454F1A;
$shadow-sm_02: #52454F0F;
$shadow-md_01: #52454F1A;
$shadow-md_02: #52454F0F;
$shadow-lg_01: #52454F14;
$shadow-lg_02: #52454F08;
$shadow-xl_01: #52454F14;
$shadow-xl_02: #52454F08;
$shadow-2xl: #52454F2E;
$shadow-3xl: #52454F24;
$fill-white: #FFFFFF;
$fill-brand-dp: #52454F;
$indicator-task-01: #9AA4B2;
$indicator-task-02: #F1B7B3;
$indicator-task-03: #F4DB4D;
$indicator-task-04: #6BAA75;
$text-primary: #52454F;
$text-white: #FFFFFF;
$text-placeholder: #9AA4B2;
$text-disabled: #697586;
